<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CBLabelPrinterBLL.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <add name="EventLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            
          <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="CB Warehouse Label Print"/>
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <CBLabelPrinterBLL.My.MySettings>
            <setting name="PrinterSelection" serializeAs="String">
                <value />
            </setting>
            <setting name="NoOfCopies" serializeAs="String">
                <value />
            </setting>
        </CBLabelPrinterBLL.My.MySettings>
    </userSettings>
    <applicationSettings>
        <CBLabelPrinterBLL.My.MySettings>
            <setting name="BTWFolderPath" serializeAs="String">
                <value>C:\Program Files\Seagull\BarTender 2019\SDK\Print Server API Samples\WebLabelPrint\WebLabelPrint_VB\Documents</value>
            </setting>
        </CBLabelPrinterBLL.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
